<mat-card>
        
    <form #tempForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
       <div>
        <mat-form-field>
                
                <input matInput placeholder="Title" [(ngModel)] = "title" name = "title"  >
            
        </mat-form-field>
        </div>
        <div>
        <mat-form-field>
                
                <input matInput placeholder="Author" [(ngModel)] = "author" name = "author" >
            
        </mat-form-field>
    </div>
        <div >
            <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">{{buttonText}}</button>
            <button  routerLink="/books"  routerLinkActive="active" mat-raised-button color="primary" >Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>
